css html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.container {
  width: 60%;
  margin: auto;
  flex-grow: 1;
}

.header {
  text-align: center;
  margin-top: 20px;
}

.rating {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.ingredients,
.steps {
  margin-top: 20px;
}

.ingredients table {
  width: 100%;
  border-collapse: collapse;
}

.ingredients table,
.ingredients th,
.ingredients td {
  border: 1px solid black;
}

.ingredients th,
.ingredients td {
  padding: 8px;
  text-align: left;
}

.steps ol {
  margin-top: 10px;
}

/* New styles for the recipe list grid layout */
header {
  background-color: #ff6347;
  color: white;
  padding: 20px;
  text-align: center;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navigation li {
  display: inline;
  margin-right: 20px;
}

.navigation a {
  color: white;
  text-decoration: none;
}

main {
  padding: 20px;
  flex-grow: 1;
}

.recipe-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.recipe-item {
  text-align: center;
}

.recipe-item img {
  width: 50%;
  height: auto;
}

.recipe-title {
  font-weight: bold;
  margin: 10px 0 5px;
  color: #2e6053; /* Matching the header color for consistency */
  text-decoration: none;
}

footer {
  background-color: #bacf74;
  text-align: center;
  padding: 10px;
  width: 100%;
  flex-shrink: 0;
}

body {
  text-decoration: none;
}

.detail-title {
  color: #2e6053;
}
